body{
    background: #F9FCFC;
    width: 90%;
}

#welcome{
    text-align: left;
    width: 125px;
    height: 35px;
    padding-top: 64px;
    padding-left: 514px;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: #000000;
}

.div-1{
    display: flex;
    justify-content: space-between;
    gap: 3%;
}

/* .img-section{
    border: 2px solid red;
} */

.img{
    height: 496px;
    width: 422px;
    padding-top: 100px;
    padding-left: 90px;
}
    

/* .write-up{
    border: 2px solid yellow;
} */

#we{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #D89616;
    padding: 70px 0 75px 0;
}

.lorem-ipsum{
font-size: 20px;
text-align: left;
line-height: 1.3;
}

.form{
    align-items: center;
    border: 1px solid rgb(165, 165, 165);
    box-shadow: 0 3px 2px 5px rgb(165, 165, 165);
    height: inherit;
    width: 35rem;
    margin-top: 5rem;
    margin-left: 20rem;
    padding-left: 3rem;
}

.contact-us{
    Font-size: 30px;
    font-family: sans-serif;
}

.label{
    font-family: sans-serif;
}

.input{
    width: 80%;
    height: 30px;
    padding: 0 10px;
    margin-bottom: 3rem;
}

button{
    background: blue;
    padding: 8px 40px;
    border: none;
    border-radius: 10px;
    color: #fff;
    margin: 2rem;
    margin-left: 22rem;

}